/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// CUSTOM ALERT
ion-alert.custom-alert {
    .alert-wrapper{
        border-radius: 1.5rem;
    }
    
    .alert-head{
        text-align: center;
    }
    .alert-message{
        text-align: center;
    }
    .alert-button-group{
        justify-content: center;
    }
    .alert-button{
        margin-inline-end: 0;
    }
}

//CUSTOM TOAST
ion-toast.custom-toast {
    --background: rgba(var(--ion-color-light-rgb), 0.9);
    --color: var(--ion-color-dark);
    --border-radius: 1rem;
}

ion-toast.custom-toast::part(message) {
    font-size: 1rem;
}

ion-toast.custom-toast::part(button) {
    font-size: 1.1rem;
    color: var(--ion-color-dark);
}

//CUSTOM LOADING
ion-loading.custom-loading{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    --spinner-color: white;
    font-size: 1rem;
    .loading-wrapper{
        border-radius: 1rem;
    }
}
