<ion-content id="ion-content">
   <img src="/assets/logo.png" alt="" class="img-logo">
   <p class="txt-version" id="txt-version"></p>


   <div class="box-recuperar">
      <div id="header">
         <p class="txt-header"> RECUPERAR CONTRASEÑA </p>
      </div>
      <div class="body-recuperar">
         <form #formulario="ngForm" (ngSubmit)="onSubmit()">
            <ion-input type="email" name="email" [(ngModel)]="solicitud.email" placeholder="CORREO INSTITUCIONAL" class="input-recuperar" required></ion-input>
            <ion-button type="submit" routerLink="" expand="block" id="enviar">
               ENVIAR
            </ion-button>
         </form>
      </div>
   </div>

   <ion-back-button text="" icon="arrow-undo" id="volver"></ion-back-button>

</ion-content>