<ion-content>
  <img src="/assets/logo.png" alt="" class="img-logo">
  <p class="txt-version">VERSION DOCENTE</p>


  <div class="bg-box-login">
      
    <div class="bg-ico-login">
      <img src="/assets/img-user-login.png" alt="" class="img-login">
    </div>
    
    <form [formGroup] = "formularioLogin">

       <ion-input type="email" name="email" formControlName="correo" placeholder="CORREO INSTITUCIONAL" class="input-login" required></ion-input>
       <ion-input type="password" name="password" formControlName="password" placeholder="CONTRASEÑA" class="input-login" required></ion-input>
       <ion-button routerLink="/recuperar" expand="block" fill="clear" shape="round" class="boton-recuperar">
          RECUPERAR CONTRASEÑA
       </ion-button>
       <ion-button (click)="ingresar()" expand="block" class="boton-login">
          INICIAR SESIÓN
       </ion-button>
    </form>
  </div>
  <div class="parent-change-version">
    <ion-button class="bg-change-version" routerLink="/login-alumno">
       <img src="/assets/motarboard.png" class="img-change-version">
    </ion-button>
    <p class="txt-change-version txt-cv-top">CAMBIAR A</p>
    <p class="txt-change-version txt-cv-bottom">ALUMNO</p>
  </div>
  
  <ion-button class="btn-registrarse" id="open-modal" fill="clear">
    ¿No tienes cuenta? Crea una.
  </ion-button>
  
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content class="bg-modal">
         <ion-toolbar>
            <ion-title>Registro</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="modal.dismiss()" color="primary">X</ion-button>
            </ion-buttons>
          </ion-toolbar>
         <form [formGroup] = "formularioRegistro">
            <ion-item>
               <ion-label position = "floating">Nombre: </ion-label>
               <ion-input type="text" formControlName ="nombre"></ion-input>
            </ion-item>
            <ion-item>
               <ion-label position = "floating">Correo: </ion-label>
               <ion-input type="email" formControlName ="correo"></ion-input>
            </ion-item>
            <ion-item>
               <ion-label position = "floating">Contraseña: </ion-label>
               <ion-input type="password" formControlName ="password"></ion-input>
            </ion-item>
            <ion-item>
               <ion-label position = "floating">Confirmar Contraseña: </ion-label>
               <ion-input type="password" formControlName ="repass"></ion-input>
            </ion-item>
            <ion-button (click)="crearDocente()" expand="block" fill="clear" shape="round">
               Registrarse
            </ion-button>
         </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
