ion-content{
    --background: radial-gradient(102.31% 102.31% at 0% 0%, #CBE9F3 0%, #2EA0C4 100%);
}

.img-logo{
    display: block;

    position: relative;

    width: 35vh;
    margin-top: 6vh;
    margin-left: auto;
    margin-right: auto;

}

.txt-version{
    position: relative;

    margin-top: 1ch;
    text-align: center;

    color: #000;
    font-size: 2.25vh;
    font-weight: bold;
}

.bg-box-login{
    position: relative;

    width: 75vw;
    height: calc(2.7rem + 22.3vh);
    margin-top: 10vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    border-radius: 20px;

    background: rgba(255, 255, 255, 0.85);

    filter: drop-shadow(0px 0px 0.5rem rgba(0, 0, 0, 0.25));
}

.bg-ico-login{
    position: relative;
    bottom: 4.5vh;

    width: 9vh;
    height: 9vh;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);

    background: linear-gradient(180deg, #FF852D 0%, #CC5500 100%);
}

.img-login{
    position: relative;
    top: 1.49vh;
    left: 0.69vh;

    height: 7.5vh;
    margin-bottom: 0;

    border-radius: 46%;
}

.input-login{
    position: relative;
    bottom: 4vh;

    width: 60vw;
    height: 5vh;
    min-height: 1.5rem;
    margin-top: 2vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    --padding-start: 0;
    --padding-end: 0;
    
    border-radius: 10px;
    
    background: #D9D9D9;
    
    color: #000;
    font-size: 2vh;
    font-weight: bold;

    text-align: center;
}

.boton-recuperar{
    position: relative;
    bottom: 2.4vh;

    color: #FF7B1C;

    font-size: 1.7vh;
}

.boton-login{
    position: relative;
    bottom: 0.8vh;

    width: 50vw;
    height: 5vh;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

    --border-radius: 0px 0px 15px 15px;
    --box-shadow: transparent;

    --background: #FF7B1C;
}

.parent-change-version{
    position: relative;
    top: calc(2.7rem + 3vh);

}

.bg-change-version{
    display: block;

    width: 10vh;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;

    --border-radius: 50%;
    
    --background: linear-gradient(180deg, #FF852D 0%, #CC5500 100%);
}

.img-change-version{
    display: block;

    position: relative;

    margin-left: auto;
    margin-right: auto;

    height: 7vh;
    // width: 30vh;
}

.txt-change-version{
    color: #000;
    text-align: center;
    font-weight: bolder;
}

.txt-cv-top{
    margin-bottom: 0;

    font-size: 2.3vh;
}

.txt-cv-bottom{
    margin-top: 0;
    
    font-size: 4vh;
}

ion-modal {
    --height: 48vh;
    --width: 90%;
    --border-radius: 16px;
    
}
.bg-modal{
    background: rgb(0, 0, 0);

}

ion-modal ion-content::part(background){
    --background: transparent;
}

ion-modal ion-toolbar {
--background: rgb(0, 0, 0);
--color: white;
}

.input-register{
    margin-top: 0.4rem;
    text-align: center;
    color: #000;
}


.btn-registrarse{
    display: block;

    position: relative;
    top: 4.5vh;

    color: #000;

    margin-left: auto;
    margin-right: auto;

    font-size: 0.8rem;
    font-weight: bold;
}