.header{
  position: relative;
  bottom: 1.8rem;
  height: 6rem;

  border-radius: 0 0 2rem 2rem;

  background: radial-gradient(102.31% 102.31% at 0% 0%, #FFB169 0%, #FF7B1C 100%);
}

.txt-home{
  display: block;
  
  position: relative;
  top: 2.75rem;

  margin-left: auto;
  margin-right: auto;

  color: black;
  font-weight: bold;
  text-align: center;
}

.menu-button{
  display: block;
  position: relative;

  left: 0.5rem;
  bottom: 0.8rem;
  
}

.ico-menu-button{
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

ion-accordion {
    margin: 0 auto;
    margin-top: .5em;
  }
  
  ion-accordion.accordion-expanding,
  ion-accordion.accordion-expanded {
    width: calc(100% - 32px);
  
    margin: 16px auto;
  }
  
  ion-accordion.accordion-collapsing ion-item[slot="header"],
  ion-accordion.accordion-collapsed ion-item[slot="header"] {
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);
  }
  
  ion-accordion.accordion-expanding ion-item[slot="header"],
  ion-accordion.accordion-expanded ion-item[slot="header"] {
    --background: radial-gradient(102.31% 102.31% at 0% 0%, #FFB169 0%, #FF7B1C 100%);
    --color: var(--ion-color-primary-contrast);
    border-radius: 15px;
    color: var(--ion-color-light);
  }
  // ion-accordion.accordion-expanded ion-item[slot="header"] {
  // }
  .ion-padding{
    border: black;
  }