<ion-content>
  <div class="header">
    <h2 class="txt-home">HORARIO</h2>
    <div class="menu-button">
      <ion-button (click)="app.openMenu()" size="large" fill="clear">
        <ion-icon class="ico-menu-button" name="grid"></ion-icon>
      </ion-button>
    </div>
  </div>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label>Lunes</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Clase 1:
      </div>
      <div class="ion-padding" slot="content">
        Clase 2:
      </div>
      <div class="ion-padding" slot="content">
        Clase 3:
      </div>
      <div class="ion-padding" slot="content">
        Clase 4:
      </div>
    </ion-accordion>

    <ion-accordion value="second">
      <ion-item slot="header">
        <ion-label>Martes</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Clase 1:
      </div>
      <div class="ion-padding" slot="content">
        Clase 2:
      </div>
      <div class="ion-padding" slot="content">
        Clase 3:
      </div>
    </ion-accordion>

    <ion-accordion value="third">
      <ion-item slot="header">
        <ion-label>Miercoles</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Clase 1:
      </div>
      <div class="ion-padding" slot="content">
        Clase 2:
      </div>
      <div class="ion-padding" slot="content">
        Clase 3:
      </div>
    </ion-accordion>

    <ion-accordion value="four">
      <ion-item slot="header">
        <ion-label>Jueves</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Clase 1:
      </div>
      <div class="ion-padding" slot="content">
        Clase 2:
      </div>
      <div class="ion-padding" slot="content">
        Clase 3:
      </div>
      <div class="ion-padding" slot="content">
        Clase 4:
      </div>
    </ion-accordion>

    <ion-accordion value="five">
      <ion-item slot="header">
        <ion-label>Viernes</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Clase 1:           
      </div>
      <div class="ion-padding" slot="content">
        Clase 2:
      </div>
      <div class="ion-padding" slot="content">
        Clase 3:
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
