<ion-app>
  <ion-menu swipe-gesture="false" contentId="main" menuId="first" side="start" auto-hide="true" (ionWillOpen)="checkMenuColor()" (ionDidClose)="menuClosed()">
    <ion-content>
        <div id="toolbar">
          <h2 class="tittle">MENU</h2>
        </div>
        <ion-list lines="full">
          <ion-menu-toggle *ngFor="let c of componentes">
              <ion-item [routerLink]="c.redirecTo" detail=true [id]="c.name">
                <ion-icon slot="start" [name]="c.icon"></ion-icon>
                <ion-label>{{ c.name }}</ion-label>
              </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item detail=true (click)="Logout()">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>CERRAR SESION</ion-label>
            </ion-item>
        </ion-menu-toggle>
          <ion-item>
            <ion-icon slot="start" name="invert-mode"></ion-icon>
            <ion-label>APARIENCIA</ion-label>
            <ion-toggle mode="ios" slot="end" color="dark" (ionChange)="toggleTheme($event)" id="themeToggle"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
