<ion-content>
  <div id="header-metro">
    <h2 class="txt-home">METRO RED</h2>
    <div class="menu-button">
      <ion-button (click)="app.openMenu()" size="large" fill="clear">
        <ion-icon class="ico-menu-button" name="grid"></ion-icon>
      </ion-button>
    </div>
  </div>
  <ion-accordion-group>
    <ion-accordion *ngFor="let line of apiMetro;" toggleIcon="caret-down-circle-outline" id="{{line.id}}">
      <ion-item slot="header" id="{{line.id}}">
        <ion-label>{{line.name}}</ion-label>
      </ion-item>
      
      <div class="ion-padding" slot="content">
        <ion-grid *ngFor="let station of line.stations">
          <ion-row>
            <ion-col>{{station.name}}</ion-col>
            <div *ngIf="station.is_closed_by_schedule; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <ion-col class="status closed">Cerrado por horario <ion-icon name="alert-circle"></ion-icon></ion-col>
            </ng-template>
            <ng-template #elseBlock>
              <ion-col class="status" id="status-{{ station.status }}">{{ estado[station.status] }} <ion-icon name="ellipse"></ion-icon></ion-col>
            </ng-template>
          </ion-row>
        </ion-grid>
      </div>

    </ion-accordion>
  </ion-accordion-group>
</ion-content>